@page "/admin"



<h3>Admin</h3>

<div class="form-group">
    <label for="filterAge">Filtrera efter ålder:</label>
    <InputNumber id="filterAge" class="form-control" @bind-Value="filterAge" />
</div>


<table class="table">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Födelsedatum</th>
            <th>E-postadress</th>
            <th>Ålder</th>
            
        </tr>
    </thead>
    
    
    
    
    </table>





@code {

}
